/* Main Area*/

@font-face {
    font-family: "Oswald-SemiBold";
    src: url("assets/fonts/Oswald-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Americorps";
    src: url("assets/fonts/americorps.ttf") format("truetype");
}

main {
    background-color: #15273e;
    color: #ffffff;
    height: 100vh;
}

form {
    background-color: #0d1826;
    padding: 20px;
    border-radius: 10px;
}

#btnClear {
    background-color: #ffffff;
    color: #212529;
}

h2 {
    font-family: 'Americorps', sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
}

h5 {
    margin-bottom: 10px;
}

.form-group {
    padding-top: 5px;
}

/* Footer */
.b-footer-divider {
    margin-bottom: 10px;
    flex-shrink: 0;
    width: 100%;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset .5em 0 1.5em rgba(0, 0, 0, .1), inset .125em 0 .5em rgba(0, 0, 0, .15);
}

/* Canvas */

#myCanvas {
    width: 1158px; /* Set your desired width */
    height: 337px; /* Set your desired height */
    display: block; /* Ensure it doesn't stretch */
    margin: 0 auto; /* Center the canvas if needed */
}

/* Dark Theme Forms */

.form-control {
    color: rgb(209, 205, 199);
    background-color: #15273e;
    border-color: rgb(60, 65, 68);
}

.form-control:focus {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
    box-shadow: none;
}

.form-select {
    color: rgb(209, 205, 199);
    background-color: #212529;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    border-color: rgb(60, 65, 68);
}

.form-select:focus {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
    box-shadow: none;
}