/* Main Area */
@font-face {
    font-family: "Americorps";
    src: url("../fonts/americorps.ttf") format("truetype");
}

@font-face {
    font-family: "MSU1";
    src: url("./assets/fonts/MSU1.ttf") format("truetype");
}

main {
    background-color: #15273e;
    color: #ffffff;
    height: 100vh;
}

form {
    background-color: #0d1826;
    padding: 20px;
    border-radius: 10px;
}

#btnClear {
    background-color: #ffffff;
    color: #212529;
}

h2 {
    font-family: 'Americorps', sans-serif;
    color: #edc957;
    font-size: 40px;
    padding-bottom: 5px;
}

h5 {
    margin-bottom: 10px;
}

.form-group {
    padding-top: 5px;
}

/* Canvas */
#myCanvas {
    width: 1493px; /* Set your desired width */
    height: 255px; /* Set your desired height */
    display: block; /* Ensure it doesn't stretch */
    margin: 0 auto; /* Center the canvas if needed */
}

/* Dark Theme Forms */
.form-control,
.form-select {
    color: rgb(209, 205, 199);
    background-color: #15273e;
    border-color: rgb(60, 65, 68);
}

.form-control:focus,
.form-select:focus {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
    box-shadow: none;
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
